<template>
    <div tabindex="-1" class="card" @focus="focus()">
        <h3>{{firstName}}  {{lastName}}</h3>
        <h5>{{company}}</h5>
        <h6>Gültig: {{validity}}</h6>
    </div>
</template>

<script>
    export default {
        name:"User",
        props:{
            id: String, 
            firstName: String,
            lastName: String,
            company: String,
            validity: String,
        },
        methods:{
            focus(){
                console.log(this.firstName)
                this.$emit('focused')
            }
        }
    }
</script>

<style scoped>

*{
    margin: 0.2rem;
    width: 95%;
}

.card{
    border: 2px solid #b9b9b9;
    border-radius: 10px;
    background-color: #f8f7f7;
}
.card:focus{
    border: 2px solid #215f1f;
    border-radius: 10px;
    background-color: #75be01c9;
    color: #102e0f;
}

</style>