<template>
    <div class="user-list">
        <input type="text" name="searchfield" v-model="search" placeholder="Suche...">
        <div class="scroll-list">
            <div v-for="visitor in filteredList()">
                <User v-bind:id="visitor.id" v-bind:firstName="visitor.firstName" v-bind:lastName="visitor.lastName" v-bind:company="visitor.company" v-bind:validity="visitor.validity" @focused="selectFocused(visitor.id)"></User>
            </div>
        </div>
    </div>
</template>

<script>
import User from '@/components/User';
    export default {
        components:{
      User,
    },
    created(){
        this.fetchVisitors()
    },
    mounted() {
        this.fetchVisitors()
    },
    data(){
        return{
            allVisitors : null,
            focused: null,
            search: '',
        }
    },
    methods:{
        fetchVisitors(){
            const url = 'http://localhost:8080/api/listvisitors'
            this.$http.get(url)
            .then((response) => this.allVisitors = response.data)
            console.log(this.allVisitors)
        },
        selectFocused(id){
            this.focused = id
            console.log(this.focused)
            this.$emit('focusedItem', this.focused)
        },
        filteredList(){
            return this.allVisitors.filter(visitor =>{
                return this.nametoString(visitor).toLowerCase().includes(this.search.toLowerCase())
            })
        },
        nametoString(visitor){
            return visitor.firstName + ' ' + visitor.lastName + ' ' + visitor.company + ' ' + visitor.validity
        }
    },    
    }
</script>

<style scoped>

.user-list {
  height: 50rem;
  width: 9cm;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  margin-left: 5%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px 0px rgba(38,38,38,0.05);
  align-content: center;
}

.scroll-list{
      overflow: scroll;
      height: 92.5%;
      margin-top:0.2rem;
      margin-left:0.4rem;

}

input[type=button] {
  margin:0.6rem;
  align-self: center;
  height: 0.70cm;
  width: 20%;
  background-color: #76be01c9;
  border-radius: 20px;
  border: 0px solid #76be01c9;
  color: #ffffff;
  font-weight: bold;
}

input[type=button]:active {
  align-self: center;
  height: 0.70cm;
  width: 20%;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #75be01c9;
  color: #75be01c9;
  font-weight: bold;
}

input[type=text] {
  height: 1.25rem;
  width: 93%;
  border-radius: 7px;
  border: 2px solid rgb(187, 187, 187);
  font-size: 0.8em;
  margin-bottom:0.5rem;
}

</style>