<template>
  <div id="app">
    <div id="nav">
      <img src="./assets/signet-text.svg">
      <h2>Ausweisgenerator</h2>
      <router-link to="/generator">Generator</router-link>  
      <router-link to="/users">Besucher</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Helvetica, Gotham, Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000cc;
}


#nav {
  padding: 30px;
  text-align: right;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(38,38,38,0.02);
  margin-bottom: 1.5rem;
}

#nav img{
  padding-left: 1rem;
  float: left;
  height: 12%;
  width: 12%;
}

#nav h2{
  float: left;
  margin-left: 35%;
  margin-top: 0rem;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin: 0.75rem;
}

#nav a.router-link-exact-active {
  color: #215f1f;
  background-color: #75be01c9;
  padding: 0.5rem;
  padding-top: 0.55rem;
  border-radius: 16px;
  align-content: center;
}

</style>
