<template>
   <div class="generator">
       <UserList @focusedItem="renderInBackend"></UserList>
       <div class="generator-box">
            <div class="generator-box-header">
                <div class="template-dropdown"> 
                    <select v-model="selected" :required="true" @change="changeTemplate()">
                        <option :value="selected" disabled selected hidden>Templates</option>
                        <option v-for="templte in templtlist" v-bind:value="templte.id" >{{ templte.templateName }}</option>
                    </select>
                </div>
                <div class="template-name">
                  <label for="templateName">Name </label>
                  <input type="text" name="templateName" v-model="templtName">
                </div>
                <div class="uploadBox">
                  <input id="uploadId" type="file" ref="file" v-on:change="processFile()" accept="text/*" hidden>
                  <input type="button" :value="fileName" v-on:click="uploadButton">
                </div>
                <div class="header-buttons">
                    <input type="button" value="Upload Template" v-on:click="upload">
                </div>
            </div>
            <div class="generator-box-body">
                <div class="template-placeholder">
                  <div class="render-box" v-if="templtRenderBox != ''" v-html="templtRenderBox">
                  </div>
                </div>
                <input type="button" value="Download" v-on:click="download">
            </div>
       </div>
   </div>
</template>

<script>
import UserList from '@/components/Userlist';
    export default {
      beforeCreate(){
        this.fetchTemplates()
      },
      updated() {
        if(this.templtlist == null){
          this.fetchTemplates()
        }
        if(this.templt != ''){
          this.fileName = this.templt.name
        }
      },
      mounted(){
        if(this.templtlist == null){
          this.fetchTemplates()
        }
      },
      data: function(){ 
          return {
            selected : 'default',
            fileName : 'Datei auswählen',
            dropdownOptions :  [],
            templtName : '',
            templt : '',
            templtlist : null,
            templtRender: '',
            templtRenderBox: '',
        }
      },
      components: {
        UserList,
      },
      methods:{
        upload(){
          const url = 'http://localhost:8080/api/template/add'
          const formData = new FormData()
          formData.append('templateName', this.templtName)
          formData.append('template', this.templt)
          this.$http.patch(url,formData)
          .finally(() => this.fetchTemplates())
          console.log('saved')
        },
        download(){
          this.$http({
            url: 'http://localhost:8080/api/pdfdownload/'+this.templtRender.id ,
            method: 'GET',
            responseType: 'arraybuffer',
          }).then((response) => {
                    console.log(response)
                    const blob = new Blob([response.data], { type: 'application/pdf' })
                    const link = document.createElement('a')
                    link.href = URL.createObjectURL(blob)
                    link.setAttribute('download', this.templtRender.cardOwner + '.pdf')
                    document.body.appendChild(link)
                    link.click()
        })
        },
        uploadButton(){
          document.getElementById("uploadId").click()
        },
        processFile(){
          this.templt = this.$refs.file.files[0]
          if(this.templt != ''){
          this.fileName = this.templt.name
        }
          },
        fetchTemplates(){
          const url = 'http://localhost:8080/api/listtemplates'
          this.$http.get(url)
          .then((response) => this.templtlist = response.data)
          var list =[] 
          for(var x = 0; x < this.templtlist.length; x++){
            list[x] = this.templtlist[x].templateName
          }
          this.dropdownOptions = list 
          //this.changeTemplate()
        },
        changeTemplate(){
          const url = 'http://localhost:8080/api/template/get/' + this.selected
          var temp = ''
          this.$http.get(url)
          .then((response) => {
            temp = response.data
            this.templtRenderBox = atob(temp.data)
          })
        },
        renderInBackend(id){
          console.log("Generator: " + id)
          const url = 'http://localhost:8080/api/generate'
          const renderJob = {visitorID: id, templateID: this.selected}
          this.$http.post(url,renderJob)
          .then((response) => {
            this.templtRender = response.data
            console.log(this.templtRender.id)
            this.templtRenderBox = atob(this.templtRender.webRender.data)
          })
        },
      },
    }
</script>

<style scoped>

.generator{
    display: flex;
}

.template-name{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 2rem;
  font-size: 15px;
  font-weight: bold;
}

.uploadBox{
  margin-top: 0.42rem;
  margin-left: 2.5rem;
}

.generator-box{
  padding:2%;
  margin-left: 5%;
  margin-right: 5%;
  width: 55%;
  height: 42rem;
}

.generator-box-header{
  display: flex;
  align-content: space-between;
  padding:2%;
  width: 100%;
  height: 10%;
  margin-bottom: 2.5%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px 0px rgba(38,38,38,0.05);
}

.generator-box-body{
  padding:2%;
  width: 100%;
  height: 88%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px 0px rgba(38,38,38,0.05);
  align-content: space-around;
}

.template-dropdown{
    width: fit-content;
    align-self: center;
    margin-left: 1.25rem;
}

.header-buttons{
    align-self: center;
    width: fit-content;
    margin-left: 2rem;
}

.template-placeholder{
    margin: 2rem 2rem 0.7rem 2rem;
    width: 93%;
    height: 85%;
    background-color: #4d4d4d;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: inset -5px -5px 15px 0px rgba(38,38,38,0.05);
}

select{
    height: 0.9cm;
    width: 17rem;
    align-self: center;
    border: 2px solid #b9b9b9;
    border-radius: 10px;
    background-color: #ffffff;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) calc(1em - 2px),
        calc(100% - 10px) calc(1em - 2px),
        calc(100% - 2.2em) 0.2em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0em 0em 0em 1em;
}

select:focus {
  background-image:
    linear-gradient(45deg, #76be01c9 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #76be01c9 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
        calc(100% - 10px) calc(1em - 2px),
        calc(100% - 15px) calc(1em - 2px),
        calc(100% - 2.2em) 0.2em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #76be01c9;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input[type=button] {
  margin:0.6rem;
  align-self: center;
  height: 0.9cm;
  width: 3cm;
  background-color: #76be01c9;
  border-radius: 20px;
  border: 0px solid #76be01c9;
  color: #ffffff;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type=button]:active {
  align-self: center;
  height: 0.9cm;
  width: 3cm;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #75be01c9;
  color: #75be01c9;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type=text]{
  padding-left: 2rem;
  margin-left: 10px;
  height: 43%;
  border-radius: 10px;
  border: 2px solid rgb(187, 187, 187);
}

input[type=file]{
  margin-top: 0.4rem;
  margin-left: 2rem;
  opacity: 100;
  width: 100%;
  height: 100%;
  font-size: 0rem;
  
}

label{
  margin-left: 1rem;
}

</style>