<template>
  <div class="user">
    <UserList ref="refresh"></UserList>
    <div class="user-view">
      <h3>Besucher</h3>
      <div class="user-name">
        <div>
          <label for="fname">Vorname </label>
          <input type="text" name="fname" v-model="fiName">
        </div>
        <div>
          <label for="lname">Nachname </label>
          <input type="text" name="lname" v-model="laName">
        </div>
      </div>
      <div class="user-name">
        <div>
          <label for="company">Firma </label>
          <input type="text" name="company" v-model="companyName">
        </div>
        <div>
          <label for="validityText">Gültigkeit </label>
          <input type="text" name="validityText" v-model="validity">
        </div>
      </div>
      <input type="submit" value="Speichern" v-on:click="save">
    </div>
  </div>
</template>

<script>
import UserList from '@/components/Userlist';
  export default {
    name:"Users",
    components:{
     UserList,
    },
    data: () => ({
      fiName: '',
      laName: '',
      companyName: '',
      validity:'',
    }),
    methods: {
        save: function(){
          const url = 'http://localhost:8080/api/savevisitor'
          const visitor = {firstName: this.fiName, lastName: this.laName, company: this.companyName, validity: this.validity}
          this.$http.post(url,visitor)
          .finally(() => this.$refs.refresh.fetchVisitors())
          console.log('saved')
        },
    }

  }
</script>

<style scoped>

.user{
  display: flex;
}

.user-view {
  display: flex;
  flex-direction: column;
  padding:2%;
  margin-top:2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  width: 55%;
  height: 44rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px 0px rgba(38,38,38,0.05);
}

.user-view h3{
  margin-bottom: 2rem;
}

.user-name {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

label{
  font-size:1em;
  margin-right: 0.5em;
}

input[type=text] {
  height: 1.75rem;
  width: 10rem;
  border-radius: 4px;
  border: 2px solid rgb(187, 187, 187);
  font-size: 0.8em;
}

input[type=submit] {
  margin: 2rem;
  align-self: center;
  height: 2rem;
  width: 20%;
  background-color: #76be01c9;
  border-radius: 20px;
  border: 0px solid #76be01c9;
  color: #ffffff;
  font-weight: bold;
}

input[type=submit]:active {
  margin: 2rem;
  align-self: center;
  height: 2rem;
  width: 20%;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #75be01c9;
  color: #75be01c9;
  font-weight: bold;
}

</style>
